.rules:not(:last-child)::before {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 40px;
  height: calc(100% - 25px);
  width: 3px;
  background-color: #555555;
}

.rules_two::before {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 10px;
  height: calc(100% - 100px);
  width: 3px;
  background-color: #555555;
}

.rules_two::after {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: -2px;
  height: 20px;
  border-bottom-left-radius: 10px;
  border-left: #555555 3px solid;
  width: 15px;
  background-color: transparent;
}

.line:not(:last-child)::before {
  content: "";
  display: block;
  position: absolute;
  left: 4px;
  top: 35px;
  height: calc(100% - 25px);
  width: 3px;
  background-color: #555555;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: -2px;
  height: 20px;
  border-bottom-left-radius: 10px;
  border-left: #555555 3px solid;
  width: 15px;
  background-color: transparent;
}
