@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,300&family=Open+Sans&family=Roboto+Mono:wght@300;400&family=Tilt+Neon&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Tilt Neon", sans-serif;
  background-color: white;
}

* {
  transition: all 0.2s ease-in-out;
}

.banner {
  background-image: url(../public/assets/images/backgr.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: left center;
  padding-bottom: 170px;
}

.dark_mode {
  background-image: linear-gradient(
    111.4deg,
    rgba(7, 7, 9, 1) 6.5%,
    rgba(27, 24, 113, 1) 93.2%
  );
}

input {
  outline: none !important;
  outline-offset: 0 !important;

  --tw-ring-shadow: none !important;
}

input:focus {
  outline: none !important;
  outline-offset: 0 !important;
  --tw-ring-shadow: none !important;
}

.bg-rgba {
  background-color: rgba(44, 50, 44, 0.6);
}

.bgr-white {
  background-color: rgba(210, 214, 214, 0.771);
}

input.defaultCheckbox::before {
  content: url(../public/assets/svg/checked.svg);
  color: white;
  opacity: 0;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
}

input:checked.defaultCheckbox::before {
  opacity: 1;
}

.css-13cymwt-control {
  border-radius: 20px;
}

.highcharts-bindings-wrapper .highcharts-arrow-down,
.highcharts-bindings-wrapper .highcharts-arrow-up {
  width: 50%;
  height: 20px;
  float: left;
  background-color: rgb(195, 194, 206);
}

.highcharts-credits .custom-cursor-on-hover {
  display: none;
}

.highcharts-range-selector {
  background-color: #fff; /* Màu nền của rangeSelector */
}

.highcharts-range-input {
  background-color: #f2f2f2; /* Màu nền của input */
  border: 1px solid #ccc; /* Viền input */
  color: #333; /* Màu chữ trong input */
}

.highcharts-range-button {
  fill: #007bff; /* Màu nền của nút */
  stroke: #007bff; /* Màu viền của nút */
  color: #fff; /* Màu chữ trên nút */
}

/* Tùy chỉnh CSS cho các nút riêng lẻ */
.highcharts-button[data-range="month"] {
  background-color: #007bff; /* Màu nền của nút "Ngày" */
}

input[type="file"] {
  position: relative;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 20px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  top: 20px;

  /*   top: 11px; */
  left: 40px;
  color: #0964b0;
  content: "Tải ảnh lên";
}

input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}
